<div class="p-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <input
      class="form-control"
      formControlName="name"
      placeholder="First name"
    />
    <input class="form-control" hidden formControlName="parentid" placeholder="Name">
    <input class="form-control" hidden formControlName="rowid" >
    <input class="form-control" hidden formControlName="levelid">

    <button class="btn btn-primary ml-5" type="submit">Submit</button>
  </form>
</div>
