/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.action {
  display: none;
}

ul,li {
  list-style: none;
  span {
    position: relative;
    padding-left: 20px;
    &::before {
      border-bottom: 1px solid #2f80ed;
      border-right: 1px solid #2f80ed;
      content: "";
      height: 10px;
      position: absolute;
      transform: rotate(45deg);
      width: 10px;
      left: 0;
      top: 5px;
    }
  }
}

li {
  &.in-collapse {
    span::before {
      transform: rotate(-45deg);
    }
    ul {
      display: none;
    }
  }

  &.no-child span::before {
    display: none;
  }

  div.item {
    min-width: 400px;
    line-height: 30px;
    display: flex;
    cursor: pointer;

     div{
      margin-left:20px ;

      mat-icon {
        cursor: pointer;
      }
     }
 &:hover .action {
  display: block;
}
  }


}
form {
  display: flex;
  max-width: 300px;

  button {
    margin-left: 15px;
  }
}


