<div class="container mt-5">
  <ul>
    <ng-container
      *ngTemplateOutlet="nestedTree; context: { list: listMenu }"
    ></ng-container>
  </ul>

  <ng-template #nestedTree let-list="list">
    <li
      *ngFor="let item of list"
      id="{{ item.rowid }}"
      [ngClass]="{
        'in-collapse': item.toggle,
        'no-child': item.child.length == 0
      }"
    >
      <div class="item" *ngIf="!item.edit">
        <span (click)="toggleClick(item)"> {{ item.name }} </span>
        <div class="action">
          <mat-icon  (click)="item.add = !item.add" title="Add"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="add"
          ></mat-icon>
          <mat-icon (click)="item.edit = !item.edit"  title="update"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="edit"
          ></mat-icon>
          <mat-icon (click)="DelItem(item.rowid)" title="delete"
            aria-hidden="false"
            aria-label="Example home icon"
            fontIcon="delete"
          ></mat-icon>
        </div>
      </div>
      <ng-container *ngIf="item.edit">
        <app-form-submit  [rowid]="item.rowid"  [parentid]="item.parentid"  [name]="item.name"  [levelid]="item.levelid" (menu)="SubmitData($event)"></app-form-submit>
      </ng-container>

      <ul *ngIf="item.child.length > 0">
        <ng-container
          *ngTemplateOutlet="nestedTree; context: { list: item.child }"
        >
        </ng-container>
      </ul>
      <ng-container *ngIf="item.add">
        <app-form-submit  [parentid]="item.rowid"  [levelid]="item.levelid+1" (menu)="SubmitData($event)"></app-form-submit>

      </ng-container>
    </li>
  </ng-template>

  <div>
    <ng-container *ngIf="add">
      <app-form-submit (menu)="SubmitData($event)"></app-form-submit>
    </ng-container>
    <button (click)="add=!add" class="btn btn-primary">{{!add ? 'Add Menu' : 'Close'}}</button>
  </div>
</div>


